.library-container {
  width: 900px;
  display: flex;
  justify-content: space-around;
  margin: 20px auto;
}

.library-info {
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.library-text {
  overflow-y: scroll;
  max-height: 400px;
}

